.about-us {
    max-width: 600px; /* Define a largura máxima para o conteúdo */
    margin: 0 auto; /* Centralize o conteúdo horizontalmente */
    padding: 20px; /* Adicione preenchimento para espaçamento */
}
  
h1 {
    font-size: 24px; /* Tamanho da fonte para o título principal */
}
  
h2 {
    font-size: 20px; /* Tamanho da fonte para os títulos de seção */
}
  
p {
    font-size: 16px; /* Tamanho da fonte para o texto do parágrafo */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
    margin-bottom: 20px; /* Espaçamento inferior entre parágrafos */
}