.calculator {
    max-width: 300px;
    margin: 30px auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .calculator h2 {
    text-align: center;
  }
  
  .calculator input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .button-container button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 0, 76);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: rgb(245, 0, 66);
  }
  
  .calculator p {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
  }